In [1]:
# Import dependencies

import pandas as pd

In [2]:
# Read the data into a Pandas DataFrame
crowdfunding_data = pd.ExcelFile("crowdfunding.xlsx")
# Get the sheet names.
crowdfunding_data.sheet_names

['crowdfunding_info', 'contact_info']

In [3]:
# Get the crowdfunding_info from the crowdfunding_info worksheet. 
crowdfunding_info_df = pd.read_excel(crowdfunding_data, sheet_name='crowdfunding_info')
crowdfunding_info_df.head()

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [4]:
# Get the contact_info from the contact_info worksheet.
# Increase the width of the column.
pd.set_option('max_colwidth', 400)
contact_info_df = pd.read_excel(crowdfunding_data, sheet_name='contact_info', header=2)
contact_info_df.head()

0                                                                               contact_info
1   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
2          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
3            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
4  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}

In [5]:
crowdfunding_info_df.tail()

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
995,2986,Manning-Hamilton,Vision-oriented scalable definition,97300,153216,successful,2043,US,USD,1609221600,1622350800,False,True,food/food trucks
996,2031,Butler LLC,Future-proofed upward-trending migration,6600,4814,failed,112,US,USD,1634274000,1638252000,False,False,theater/plays
997,1627,Ball LLC,Right-sized full-range throughput,7600,4603,canceled,139,IT,EUR,1636174800,1639116000,False,False,theater/plays
998,2175,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600,37823,failed,374,US,USD,1602133200,1618117200,False,True,music/indie rock
999,1788,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100,62819,canceled,1122,US,USD,1609308000,1629262800,False,False,food/food trucks

In [6]:
crowdfunding_info_df.sample(n=10)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
507,1522,"Turner, Miller and Francis",Compatible well-modulated budgetary management,2100,837,failed,19,US,USD,1608962400,1625288400,False,True,technology/web
394,705,Noble-Bailey,Customizable dynamic info-mediaries,800,3755,successful,34,US,USD,1593147600,1618981200,False,True,film & video/documentary
412,576,Rodriguez-Scott,Realigned zero tolerance software,2100,14046,successful,134,US,USD,1602651600,1610863200,False,False,publishing/fiction
714,2285,Evans-Jones,Switchable methodical superstructure,38500,182036,successful,1785,US,USD,1615784400,1632286800,False,False,music/rock
738,2762,Garcia Group,Extended zero administration software,74700,1557,failed,15,US,USD,1616475600,1623819600,False,True,theater/plays
396,1159,Holmes PLC,Digitized local info-mediaries,46100,77012,successful,1604,AU,AUD,1597122000,1630990800,False,False,film & video/drama
805,550,Smith-Nguyen,Advanced intermediate Graphic Interface,9700,4932,failed,67,AU,AUD,1610949600,1623474000,False,False,film & video/documentary
944,806,Walter Inc,Streamlined 5thgeneration intranet,10000,8142,failed,263,AU,AUD,1608444000,1612072800,False,False,photography/photography books
704,742,Haynes-Williams,Seamless clear-thinking artificial intelligence,8700,10682,successful,116,US,USD,1599282000,1619326800,False,False,film & video/animation
268,1257,Brown-Mckee,Networked optimal productivity,1500,2708,successful,48,US,USD,1616475600,1641794400,False,False,film & video/documentary

In [7]:
contact_info_df.tail()

996                    {"contact_id": 3684, "name": "Whitney Noack", "email": "whitney.noack@laboratorios.org"}
997              {"contact_id": 5784, "name": "Gelsomina Migliaccio", "email": "gelsomina.migliaccio@junk.com"}
998   {"contact_id": 1498, "name": "Evangelista Pereira", "email": "evangelista.pereira@thompson-peterson.biz"}
999                        {"contact_id": 6073, "name": "Gareth Comolli", "email": "gareth.comolli@tiscali.fr"}
1000                {"contact_id": 4939, "name": "Michelangelo Hess", "email": "michelangelo.hess@bouygtel.fr"}

In [8]:
contact_info_df.sample(n=10)

134                       {"contact_id": 5445, "name": "Hector Morrison", "email": "hector.morrison@web.de"}
524          {"contact_id": 4168, "name": "Ashleigh Montez", "email": "ashleigh.montez@perry-schneider.com"}
799  {"contact_id": 4620, "name": "Stanislaw Montalvo", "email": "stanislaw.montalvo@mcpherson-hughes.info"}
515                   {"contact_id": 3455, "name": "Alfonso Finetti", "email": "alfonso.finetti@quiroz.com"}
831                     {"contact_id": 3667, "name": "Gretchen Serna", "email": "gretchen.serna@pichon.org"}
583                  {"contact_id": 5739, "name": "Jeffrey Trommler", "email": "jeffrey.trommler@yahoo.com"}
468                 {"contact_id": 4797, "name": "Troy Schmiedecke", "email": "troy.schmiedecke@picard.com"}
119                      {"contact_id": 2771, "name": "Phillip Soliz", "email": "phillip.soliz@outlook.com"}
213                        {"contact_id": 1693, "name": "Natasha Lara", "email": "natasha.lara@outlook.com"}
936                       {"contact_id": 5901, "name": "Maria Nguyen", "email": "maria.nguyen@hernadez.com"}

In [9]:
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   company_name             1000 non-null   object
 2   blurb                    1000 non-null   object
 3   goal                     1000 non-null   int64
 4   pledged                  1000 non-null   int64
 5   outcome                  1000 non-null   object
 6   backers_count            1000 non-null   int64
 7   country                  1000 non-null   object
 8   currency                 1000 non-null   object
 9   launched_at              1000 non-null   int64
 10  deadline                 1000 non-null   int64
 11  staff_pick               1000 non-null   bool
 12  spotlight                1000 non-null   bool
 13  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(6), object(6)
memory usage: 95.8+ KB

In [10]:
crowdfunding_info_df["category & sub-category"].unique()

array(['food/food trucks', 'music/rock', 'technology/web',
       'theater/plays', 'film & video/documentary',
       'music/electric music', 'film & video/drama', 'music/indie rock',
       'technology/wearables', 'publishing/nonfiction',
       'film & video/animation', 'games/video games',
       'film & video/shorts', 'publishing/fiction',
       'photography/photography books', 'publishing/radio & podcasts',
       'music/metal', 'music/jazz', 'publishing/translations',
       'film & video/television', 'games/mobile games',
       'music/world music', 'film & video/science fiction',
       'journalism/audio'], dtype=object)

In [12]:
crowdfunding_info_df[["category", "subcategory"]] = crowdfunding_info_df["category & sub-category"].str.split("/", n=1, expand=True)
crowdfunding_info_df.head(10)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays
5,2057,Harris Group,Open-source optimizing database,7600,13195,successful,174,DK,DKK,1607666400,1630213200,False,False,theater/plays,theater,plays
6,1894,"Ortiz, Coleman and Mitchell",Operative upward-trending algorithm,5200,1090,failed,18,GB,GBP,1596171600,1620709200,False,False,film & video/documentary,film & video,documentary
7,2669,Carter-Guzman,Centralized cohesive challenge,4500,14741,successful,227,DK,DKK,1608616800,1632200400,False,False,theater/plays,theater,plays
8,1114,Nunez-Richards,Exclusive attitude-oriented intranet,110100,21946,live,708,DK,DKK,1586322000,1615356000,False,False,theater/plays,theater,plays
9,970,"Rangel, Holt and Jones",Open-source fresh-thinking model,6200,3208,failed,44,US,USD,1628830800,1630386000,False,False,music/electric music,music,electric music

In [15]:
# Get the distinct values in the category and subcategory columns.
print(crowdfunding_info_df["category"].nunique())
print(crowdfunding_info_df["subcategory"].nunique())

9
24

In [16]:
# Get the unique categories and subcategories in separate lists.
categories = crowdfunding_info_df["category"].unique()
subcategories = crowdfunding_info_df['subcategory'].unique()

print(categories)
print()
print(subcategories)

['food' 'music' 'technology' 'theater' 'film & video' 'publishing' 'games'
 'photography' 'journalism']

['food trucks' 'rock' 'web' 'plays' 'documentary' 'electric music' 'drama'
 'indie rock' 'wearables' 'nonfiction' 'animation' 'video games' 'shorts'
 'fiction' 'photography books' 'radio & podcasts' 'metal' 'jazz'
 'translations' 'television' 'mobile games' 'world music'
 'science fiction' 'audio']

In [17]:
# Import the Numpy dependency
import numpy as np

# Create numpy arrays that have 1-10 for the category_ids and 1-25 for the subcategory_ids.
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

print(category_ids)
print()
print(subcategory_ids)

[1 2 3 4 5 6 7 8 9]

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [18]:
# Use a list comprehension to add "cat0" to each category_id. 
cat_ids = ["cat0" + str(cat_id) for cat_id in category_ids]

# Use a list comprehension to add "scat0" to each subcategory_id. 
subcat_ids = ["subcat0" + str(subcat_id) for subcat_id in subcategory_ids]

print(cat_ids)
print(subcat_ids)

['cat01', 'cat02', 'cat03', 'cat04', 'cat05', 'cat06', 'cat07', 'cat08', 'cat09']
['subcat01', 'subcat02', 'subcat03', 'subcat04', 'subcat05', 'subcat06', 'subcat07', 'subcat08', 'subcat09', 'subcat010', 'subcat011', 'subcat012', 'subcat013', 'subcat014', 'subcat015', 'subcat016', 'subcat017', 'subcat018', 'subcat019', 'subcat020', 'subcat021', 'subcat022', 'subcat023', 'subcat024']

In [19]:
# Create a category DataFrame with the cat_ids array as the category_id and categories list as the category name.
category_df = pd.DataFrame({
    "category_id": cat_ids,
    "category": categories
})

# Create a subcategory DataFrame with the scat_ids array as the subcategory_id and subcategories list as the subcategory name.
subcategory_df = pd.DataFrame({
    "subcategory_id": subcat_ids,
    "subcategory": subcategories
})

In [21]:
subcategory_df.head()

  subcategory_id  subcategory
0       subcat01  food trucks
1       subcat02         rock
2       subcat03          web
3       subcat04        plays
4       subcat05  documentary

In [22]:
category_df.to_csv("category.csv", index=False)
subcategory_df.to_csv("subcategory.csv", index=False)